.standard-form {
  min-width: 300px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  padding-right: 8px;
  min-width: 350px;
}

mat-form-field {
  padding-bottom: 8px;
}


.page-hint {
  margin: 20px 0;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #c9c9c9;
  border-radius: 0;
  border-left: 4px solid #d5aa46;
  background-color: #fff;
}
