<div class="page-container">
  <h1>Decision (DAR)</h1>

  <form class="standard-form" [formGroup]="darForm">
    <mat-form-field class="full-width">
      <input
        matInput
        formControlName="title"
        (change)="onTitleUpdate()"
        placeholder="Title"
        required
      />
      <!-- <mat-hint>Short title for the decision</mat-hint> -->
      <mat-error *ngIf="darForm.controls['title'].hasError('required')">
        Title is required.
      </mat-error>
      <mat-error *ngIf="darForm.controls['title'].hasError('minlength')">
        Title must be at least 10 characters long.
      </mat-error>
      <mat-error *ngIf="darForm.controls['title'].hasError('maxlength')">
        Title can not be more than 60 characters long.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea
        matInput
        formControlName="description"
        (change)="onDescriptionUpdate()"
        matAutosizeMinRows="7"
        matAutosizeMaxRows="20"
        matTextareaAutosize
        placeholder="Description"
        required
      ></textarea>
      <!-- <mat-hint>Detailed description of the decision</mat-hint> -->
      <mat-error *ngIf="darForm.controls['description'].hasError('required')">
        Description is required.
      </mat-error>
      <mat-error *ngIf="darForm.controls['description'].hasError('minlength')">
        Description must be at least 50 characters long.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="half-width">
      <mat-label>Methodology</mat-label>
      <mat-select [(value)]="dar.darMethod">
        <mat-option *ngFor="let item of darMethod" [value]="item.key">
          {{ item.value }}
        </mat-option>
      </mat-select>
      <!-- <mat-hint>Methodology to be followed for the decision</mat-hint> -->
    </mat-form-field>

    <mat-form-field class="half-width">
      <mat-label>Status</mat-label>
      <mat-select [(value)]="dar.darStatus">
        <mat-option *ngFor="let item of darStatus" [value]="item.key">
          {{ item.value | titlecase }}
        </mat-option>
      </mat-select>
      <!-- <mat-hint>The status of the decision (DAR)</mat-hint> -->
    </mat-form-field>

    <mat-form-field class="half-width">
      <input
        matInput
        [matDatepicker]="myDatepicker"
        [value]="dar.dateTargeted.toDate()"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="myDatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
      <mat-hint>When the decision should be complete</mat-hint>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      *ngIf="crudAction == crud.Create"
      [disabled]="!darForm.valid"
      (click)="createDar()"
    >
      <mat-icon>add</mat-icon>
      Create
    </button>

    <button
      mat-raised-button
      color="primary"
      *ngIf="crudAction == crud.Delete"
      (click)="deleteDar()"
    >
      <mat-icon>clear</mat-icon>
      Delete
    </button>
  </form>
</div>
