.standard-form {
  min-width: 300px;
  width: 100%;

}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  padding-right: 8px;
  max-width: 350px;
  min-width: 250px;
}

mat-form-field {
  padding-bottom: 8px;
}

.container-card {
  margin-top: 8px;
}

mat-checkbox {
  padding-right: 10px;
}

.roles {
  padding-top : 20px;
}

