.radioGroup {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  line-height: 1;
  margin-top: 10px;
}

.solutionDescription {
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 70%;
}

.evaluationInformationCard {
  margin-top: 10px;
}

.vote-indent {
  margin: 15px;
}

.half-width {
  width: 50%;
  padding-right: 8px;
  min-width: 350px;
}
