<app-subheading title="Vote for  the Solution"></app-subheading>
<div class="page-container">


  <mat-radio-group aria-labelledby="example-radio-group-label" class="radioGroup" [value]="daruser?.solutionVote.dsid">
    <mat-radio-button value="" (change)=" onVote('')">[No Vote]</mat-radio-button>
    <ng-container *ngFor="let darsolution of darsolutions">
      <mat-radio-button [value]="darsolution.id" (change)="onVote(darsolution.id)">
        {{ darsolution.name }}
      </mat-radio-button>
      <div class="solutionDescription">{{darsolution.description}}</div>
    </ng-container>
  </mat-radio-group>


  <div *ngIf="dar.darMethod == DarMethod.Hybrid">
    <app-subheading title="Evaluation Information"></app-subheading>

    <mat-card class="evaluationInformationCard">
      <app-darviewevaluation [dar]="dar"></app-darviewevaluation>
    </mat-card>
  </div>
</div>
