<div class="page-container">

  <table mat-table [dataSource]="darsolutions | async" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
        <button  mat-button (click)="selectSolution(element.id)" style="width: 100%;text-align: left;"> {{element.name}} </button> </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element">         {{
        element.description.length < 60
          ? element.description
          : element.description.substring(0, 59) + "..."
      }} </td>
    </ng-container>

   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  

  <app-darsolution></app-darsolution>
</div>