<app-subheading title="About ourDars"></app-subheading>
<div class="card-container">
  <mat-card class="about-card">
    <mat-card-header class="card-header">
      <mat-card-title>About</mat-card-title>
      <mat-card-subtitle
        >Collaborative Decision Analysis and Resolution Application
      </mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../assets/images/aboutImage.jpg"
      alt="Our DAR application image"
      class="appLogoImg"
    />
    <mat-card-content>
      <p>
        This application manages a decision making process for enterprises. It
        is collaborative and allows realtime interactions as decisions are made.
      </p>
      <p><b>Version: </b> 8.0.012</p>
      <p>
        <b>Repository: </b>
        <a href="https://github.com/somervda/ourDars"
          >https://github.com/somervda/ourDars</a
        >
      </p>
      <p>
        <b>Contact: </b>
        <a href="mailto:david.a.somerville@outlook.com"
          >david.a.somerville@outlook.com</a
        >
      </p>
      <p>
        <b>By Lupincorp: </b>
        <a href="https://lupincorp.com" target="_blank"
          >https://lupincorp.com</a
        >
      </p>
    </mat-card-content>
  </mat-card>
</div>
