<table class="heatTable">
  <tr>
    <th></th>
    <th class="rotate" *ngFor="let darCriteria of darcriterias">
      <div>
        <span>{{
          darCriteria.name.length > 20
            ? darCriteria.name.slice(0, 20) + "..."
            : darCriteria.name
        }}</span>
      </div>
    </th>
  </tr>
  <ng-container *ngFor="let darSolution of darsolutions">
    <tr>
      <td class="evaluationSolution">{{ darSolution.name }}</td>
      <ng-container *ngFor="let darCriteria of darcriterias">
        <ng-container *ngIf="displayEvaluationCell(darSolution.id, darCriteria.id) as cellContent">
          <td class="evaluationCell" [matTooltip]="cellContent.cellTooltip"
            [style.background-color]="cellContent.cellBGColor">
            {{ cellContent.cellText }}
          </td>
        </ng-container>
      </ng-container>
    </tr>
  </ng-container>
</table>
