.rowprompt {
  font-weight: bold;
  padding-right: 8px;
  vertical-align: top;
  min-width: 100px;
}

.rowcontent {
  vertical-align: top;
}

.subTable {
  margin-left: 8px;
  width: 100%;
  margin-top: 3px;
}

.tableHeader {
  background-color: lightgrey;
}

.heatTable {}

mat-card {
  width: 100%;
}

td {
  vertical-align: top;
}

.subTable tr,
td,
th {
  border-top: 0px;
  padding-left: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.subTable td,
th {
  word-break: break-all;
}


.scrollableCard {}
