.evaluationDetail {
    margin-left: 10px;
}

.solutionDetail {
    font-weight: 600;
    margin-top: 8px;
    text-decoration: underline;
}
.criteriaDetail {
    margin-left: 5px;
    margin-top: 2px;
    font-weight:500;
}


