<div class="page-container">
  <h1>My Dars</h1>

  <mat-form-field class="half-width">
    <mat-label>Filter By Status</mat-label>
    <mat-select (selectionChange)="updateQuery()" #selectedDarStatus>
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let item of darStatuses" [value]="item.key">
        {{ item.value | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="half-width">
    <mat-label>Filter By Role</mat-label>
    <mat-select (selectionChange)="updateQuery()" #selectedRole>
      <mat-option value="">All</mat-option>
      <mat-option value="owner">Owner</mat-option>
      <mat-option value="stakeholder">Stakeholder</mat-option>
      <mat-option value="evaluator">Evaluator</mat-option>
      <mat-option value="voter">Voter</mat-option>
      <mat-option value="reader">Reader</mat-option>
    </mat-select>
  </mat-form-field>

  <table mat-table class="mat-elevation-z8 tableSizeMaximizer" [dataSource]="dars | async" matSortDisableClear>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let dar">{{ dar.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="darStatus">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let dar">
        {{ darStatus[dar.darStatus] | titlecase }}
      </td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>Roles</th>
      <td mat-cell *matCellDef="let element">
        <div class="userRole" *ngIf="element.darUserIndexes.isOwner.includes(auth.currentUser.uid)">Owner</div>
        <div class="userRole" *ngIf="element.darUserIndexes.isStakeholder.includes(auth.currentUser.uid)">Stakeholder
        </div>
        <div class="userRole" *ngIf="element.darUserIndexes.isEvaluator.includes(auth.currentUser.uid)">Evaluator</div>
        <div class="userRole" *ngIf="element.darUserIndexes.isReader.includes(auth.currentUser.uid)">Reader</div>
        <div class="userRole" *ngIf="element.darUserIndexes.isVoter.includes(auth.currentUser.uid)">Voter</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.darUserIndexes.isDarUser.includes(auth.currentUser.uid) ">
          <button mat-button class="actionButton" matTooltip="View DAR document" routerLink="/darview/{{ element.id }}">
            <mat-icon>description</mat-icon>
          </button>
        </span>
        <span *ngIf="element.darUserIndexes.isEvaluator.includes(auth.currentUser.uid) ">
          <button mat-button class="actionButton" matTooltip="Perform evaluation of the solutions against criteria"
            routerLink="/darevaluation/{{ element.id }}">
            <mat-icon>ballot</mat-icon>
          </button>
        </span>
        <span *ngIf="element.darUserIndexes.isVoter.includes(auth.currentUser.uid) ">
          <button mat-button class="actionButton" matTooltip="Vote for the solution"
            routerLink="/darvote/{{ element.id }}">
            <mat-icon>done</mat-icon>
          </button>
        </span>
        <span *ngIf="element.darUserIndexes.isStakeholder.includes(auth.currentUser.uid) ">
          <button mat-button class="actionButton" matTooltip="Stakeholder confirms the solution decision"
            routerLink="/darconfirm/{{ element.id }}">
            <mat-icon>
              done_all</mat-icon>
          </button>
        </span>
        <span *ngIf="element.darUserIndexes.isOwner.includes(auth.currentUser.uid) ">
          <button mat-button class="actionButton" matTooltip="Edit the DAR" routerLink="/darfolder/{{ element.id }}">
            <mat-icon>edit</mat-icon>
          </button>
        </span>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
