.tableSizeMaximizer {
  max-height: 1000px;
  overflow: auto;
}

table {
  width: 100%;
}

td.mat-cell,
th.mat-header-cell {
  padding-right: 8px;
}

td.mat-cell {
  vertical-align: text-top;
}

.deleteRow {
  padding-top: 8px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  padding-right: 8px;
  min-width: 350px;
}

.userRole {
  padding-right: 8px;
}

.actionButton {
  margin-top: 5px;
}

td,
th {
  word-break: break-word;
}
