<!-- <mat-toolbar ><mat-toolbar-row>{{title}}</mat-toolbar-row></mat-toolbar> -->
<div class="page-container">

  <mat-tab-group>
    <mat-tab label="DAR">
      <ng-template matTabLabel>
        <div matTooltip="Basic information (Header)">
          <mat-icon>description</mat-icon> DAR
        </div>
      </ng-template>
      <ng-template matTabContent>
        <app-dar [dar]="dar" [crudAction]="crudAction"></app-dar>
      </ng-template>
    </mat-tab>
    <mat-tab label="Users" [disabled]="crudAction != Crud.Update">
      <ng-template matTabLabel>
        <div matTooltip="DAR Participants.">
          <mat-icon>people</mat-icon> Users
        </div>
      </ng-template>
      <ng-template matTabContent>
        The Second Content
      </ng-template>
    </mat-tab>
    <mat-tab label="Criteria" [disabled]="crudAction != Crud.Update">
      <ng-template matTabLabel>
        <div matTooltip="Selection Criteria.">
          <mat-icon>check_circle</mat-icon> Criteria
        </div>
      </ng-template>
      <ng-template matTabContent>
        <app-darcriterias [dar]="dar"></app-darcriterias>
      </ng-template>
    </mat-tab>
    <mat-tab label="Solutions" [disabled]="crudAction != Crud.Update">
      <ng-template matTabLabel>
        <div matTooltip="Possible solutions.">
          <mat-icon>list_alt</mat-icon> Solutions
        </div>
      </ng-template>
      <ng-template matTabContent>
        <app-darsolutions [dar]="dar"></app-darsolutions>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
