<div class="page-container">
  <h1>Team</h1>

  <form class="standard-form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Team Name" value="{{ team.name }}" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea
        matInput
        #teamDescription
        matAutosizeMinRows="10"
        matAutosizeMaxRows="20"
        matTextareaAutosize
        placeholder="Team Description"
        (change)="onDescriptionUpdate()"
        value="{{ team.description }}"
      ></textarea>
    </mat-form-field>
  </form>
</div>
